<!DOCTYPE html>
<html lang="ko">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container" style="margin-top: 90px">
        <div class="container">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-5">
                    <h3>제목: </h3>
                    <h6>글번호: &nbsp; 날짜:</h6>
                </div>
                <div class="col-5" style="text-align: right;">
                    <h3>이름:</h3>
                    <h6>조회: &nbsp; 리플: </h6>
                </div>
                <div class="col-1"></div>
            </div>
            <hr>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10">
                    <p>내용</p>
                </div>
                <div class="col-1"></div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10" style="text-align: right;">
                    <a href="/bbs/update/"><i class="far fa-edit"></i></a>
                    <a href="/bbs/update/"><i class="fas fa-trash-alt"></i></a>
                </div>
                <div class="col-1"></div>
            </div>
            <hr>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10">
                <form class="form-group" action="/bbs/reply" method="post">
                    <div class="form-group"></div>
                        <input type="hidden" name="bid" value ="${result.bid}">
                        <input type="hidden" name="uid" value ="${result.uid}">
                    댓글
                        <textarea class="form-control" rows="3" id="content" name="content"></textarea>
                        <button type="submit" style="margin-right: 10px;" class="btn btn-success mt-3">등록</button>
                    </form>
                </div>
                <div class="col-1"></div>
            </div>
        </div>
    </div>
    </div>


    <!-- <form action="writerAction" method="post">
                <div class="form-group">
                    <form class="form-inline" action="/bbs/reply" method="post">
                            <input type="hidden" name="bid" value ="${result.bid}">
                            <input type="hidden" name="uid" value ="${result.uid}">
                        댓글
                            <textarea class="form-control" rows="3" cols="80" id="content" name="content"></textarea>
                            <button type="submit" style="margin-right: 10px;" class="btn btn-success mt-3">등록</button>
                    </form>
                </div>
            </form> -->
</body>

</html>